@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .container {
    @apply m-[0_auto] px-4 sm:px-10 md:px-20  ;
  }
  .container-fluid {
    @apply w-full px-0;
  }
  .button {
    @apply     px-7 py-3 bg-[#0B132A] text-white text-xs font-semibold rounded-md
  }
  body {
    @apply text-black bg-white
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
